# ARMOR-RADAR, board profile s3-wifi: an ESP32-S3-WROOM-1 N16R8 (16 MB flash, 8 MB octal PSRAM), no Ethernet. Copyright (C) 2026 JuanenRac (Electro Hobby 3D). GPL-3.0-or-later.
# Its "USB & OTG" socket is the chip's native USB (the log and the flashing); the "USB to serial" socket (a CH343P on GPIO 43 and 44) is not used.
CONFIG_ARMOR_BOARD_S3_WIFI=y
